<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <title>
      Error
    </title>
  </head>

  <body>
    {{>header}}
    <p class="errorMessage">{{message}}</p>
  </body>
</html>
